#canva-graphs, #canva-merkle{
    width: 900px;
    height: 500px;
    overflow: auto;
}
#movies .movie{
    width: 150px;
    min-height: 80px;
}
#comments{
    max-height: 400px;
    overflow-y: auto;
}