#canva-graphs{
    width: 1200px;
    height: 600px;
    overflow: auto;
}
#canva-merkle{
    width: 100%;
    height: 700px;
}
#canva-blockchain{
    width: 100%;
    height: 300px;
}
#movies .movie{
    width: 150px;
    min-height: 80px;
}
#comments{
    max-height: 400px;
    overflow-y: auto;
}